body,html{
    height: 100%;
}
.bg-image {
    background-image: url("bg.jpg");
  
    filter: blur(15px);
    -webkit-filter: blur(17px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.time,
.date{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: white;
}

.date-box{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.centre{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

